Need normative references

The spec should have normative references to (at least) RFC7230, RFC7231, and RFC7232 (the HTTP 1.1 specs).  It may also need a reference to RFC7234 (caching).